In [1]:
import pickle
import pandas as pd

# Load data from Excel
file_path = "CyaWaitMegaTable2.xlsx"  # Replace with your file path
df = pd.read_excel(file_path)

# Quick data overview
print(df.head())  # Display first few rows
print(df.info())  # Check data types and missing values

df.columns

# Clean text columns to remove leading and trailing spaces
df.columns = df.columns.str.strip()

# Example: Day of week mapping
day_of_week_mapping = {
    'Monday': 1, 'Tuesday': 2, 'Wednesday': 3,
    'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7,
    'Monday ': 1, 'Tuesday ': 2, 'Wednesday ': 3,
    'Thursday ': 4, 'Friday ': 5, 'Saturday ': 6, 'Sunday ': 7,
    'monday': 1, 'tuesday': 2, 'wednesday': 3,
    'thursday': 4, 'friday': 5, 'saturday': 6, 'sunday': 7,
    'monday ': 1, 'tuesday ': 2, 'wednesday ': 3,
    'thursday ': 4, 'friday ': 5, 'saturday ': 6, 'sunday ': 7,
}
location_mapping = {
   'populated ': 1, 'heavily populated ': 3, 'lighty populated ': 2,
   'populated': 1, 'heavily populated': 3, 'lighty populated': 2, 'lightly populated ': 2
}

missing_score_lc = set(df['location score'].unique()) - set(location_mapping.keys())
print("Missing score in mapping:", missing_score_lc)  # Identify unmapped categories

# Ensure all categories are in the mapping
missing_days = set(df['Day of week'].unique()) - set(day_of_week_mapping.keys())
print("Missing days in mapping:", missing_days)  # Identify unmapped categories

df['Day of week'] = df['Day of week'].map(day_of_week_mapping)  # Remap after correction
df['location score'] = df['location score'].map(location_mapping)

df.head()

df.rename(columns={'Time waiting on food (time ordered-departure time)': 'Food wait time', 'time in queue (arrival time-ordered)': 'Time in queue'}, inplace=True)
df.rename(columns = {'food type (chicken)': 'Food type', 'Resturant type (sit_down,fast food)': 'Restaurant type', 'size(1-5)': 'Size' , 'wait_time': 'Wait time', 'popular (true or false)': 'Popular', 'No. of people infront (range)': 'People infront'}, inplace= True)
df.rename(columns = {'time ordered (time)': 'Order time', 'Arrival time': 'Arrival time'}, inplace = True)
df.rename(columns = {'location score': 'Location score'}, inplace = True)

  Name of restaurant   Day of week  Arrival time Departure time  \
0                  KFC     Tuesday      11:21:00       11:59:00
1                  KFC      Monday      16:56:00       17:31:00
2                  KFC      Friday      18:32:00       19:15:00
3                  KFC    Wednesday     17:13:00       18:01:00
4                 KFC       Monday      14:13:00       14:44:00

  Time waiting on food (time ordered-departure time) time ordered (time)   \
0                                           00:16:00             11:43:00
1                                           00:08:00             17:23:00
2                                           00:04:00             19:11:00
3                                           00:21:00             17:40:00
4                                           00:17:00             14:27:00

  time in queue (arrival time-ordered) food type (chicken)  \
0                             00:22:00            Chicken
1                             00:27:00            Chicken
2                             00:39:00            Chicken
3                             00:27:00            Chicken
4                             00:14:00            Chicken

  Resturant type (sit_down,fast food)  size(1-5)  \
0                          Fast food           1
1                          Fast food           2
2                          Fast food           1
3                          Fast food           1
4                          Fast food           1

   No. of people infront (range)  wait_time   popular (true or false)  \
0                              18   00:38:00                     True
1                              19   00:35:00                     True
2                              16   00:43:00                     True
3                              25   00:48:00                     True
4                              16   00:31:00                     True

     location score
0  heavily populated
1  heavily populated
2  heavily populated
3  heavily populated
4  heavily populated
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 14 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Name of restaurant                                  41 non-null     object
 1   Day of week                                         41 non-null     object
 2   Arrival time                                        41 non-null     object
 3   Departure time                                      41 non-null     object
 4   Time waiting on food (time ordered-departure time)  41 non-null     object
 5   time ordered (time)                                 41 non-null     object
 6   time in queue (arrival time-ordered)                41 non-null     object
 7   food type (chicken)                                 41 non-null     object
 8   Resturant type (sit_down,fast food)                 41 non-null     object
 9   size(1-5)                                           41 non-null     int64
 10  No. of people infront (range)                       41 non-null     int64
 11  wait_time                                           41 non-null     object
 12  popular (true or false)                             41 non-null     bool
 13  location score                                      41 non-null     object
dtypes: bool(1), int64(2), object(11)
memory usage: 4.3+ KB
None
Missing score in mapping: set()
Missing days in mapping: set()

In [2]:
ft = df['Food type']

print(ft)

0         Chicken
1         Chicken
2         Chicken
3         Chicken
4         Chicken
5         Chicken
6         Chicken
7         Chicken
8         Chicken
9          Chicken
10        chicken
11        Chicken
12        Chicken
13        Chicken
14         Chicken
15         Chicken
16         burger
17         burger
18       sandwhich
19       sandwhich
20       sandwhich
21       sandwhich
22         burger
23         burger
24    main course
25    main course
26    main course
27    main course
28    main course
29        chicken
30      sandwhich
31      sandwhich
32            meal
33      sandwhich
34      sandwhich
35       sandwhich
36            meal
37            meal
38          pizza
39            meal
40           meal
Name: Food type, dtype: object

In [3]:
rt = df['Restaurant type']

print(rt)

0           Fast food
1           Fast food
2           Fast food
3           Fast food
4           Fast food
5           fast food
6           Fast food
7           Fast food
8           Fast food
9           Fast food
10          Fast food
11          Fast food
12          Fast food
13          Fast food
14          Fast food
15          Fast food
16          Fast food
17          Fast food
18          Fast food
19          Fast food
20          Fast food
21          Fast food
22          Fast food
23          Fast food
24            dine in
25            dine in
26            call in
27            call in
28           takeaway
29            fastfood
30                FiFO
31                FiFO
32    call in/takeout
33          fast food
34            FASTFOOD
35           fastfood
36             sitdown
37    call in/takeout
38                FiFO
39    call in/takeout
40    call in/takeout
Name: Restaurant type, dtype: object

In [4]:
# Convert all restaurant types to lowercase and strip whitespace
df['Food type'] = df['Food type'].str.lower().str.strip()

# Define a mapping of misspelled or varied names to a standardized name
standardization = {
    'chicken': 'Chicken',
    'Chicken ': 'Chicken',
    'meal ': 'meal',
    'meal': 'meal',
    'sandwhich ' : 'sandwhich',
    'sandwhich' : 'sandwhich',
    # Add more mappings as necessary
}

# Apply the standardization mapping
df['Food type'] = df['Food type'].replace(standardization)

unique_food_types = df['Food type'].unique()
print("Unique Food Types:", unique_food_types)

# Convert all restaurant types to lowercase and strip whitespace
df['Restaurant type'] = df['Restaurant type'].str.lower().str.strip()

# Define a mapping of misspelled or varied names to a standardized name
standardization = {
    'fastfood': 'Fast food',
    'fast food': 'Fast food',
    'fifo': 'Fifo',
    'sitdown': 'Dine in',
    'dine in' : 'Dine in',
    'call in/takeout' : 'Call in',
    'call in' :'Call in',
    'takeaway' : 'Call in'
    # Add more mappings as necessary
}

# Apply the standardization mapping
df['Restaurant type'] = df['Restaurant type'].replace(standardization)

unique_restaurant_types = df['Restaurant type'].unique()
print("Unique Restaurant Types:", unique_restaurant_types)

Unique Food Types: ['Chicken' 'burger' 'sandwhich' 'main course' 'meal' 'pizza']
Unique Restaurant Types: ['Fast food' 'Dine in' 'Call in' 'Fifo']

In [5]:
# Group infrequent categories into "Other"
def bucket_infrequent(column, threshold=2):
    # Keep only categories with frequency above threshold
    freq = df[column].value_counts()
    df[column] = df[column].apply(lambda x: x if freq[x] > threshold else 'Other')

# Apply bucketing to the desired columns
bucket_infrequent('Restaurant type')
bucket_infrequent('Food type')

# Now apply one-hot encoding after bucketing
df = pd.get_dummies(df, columns=['Restaurant type', 'Food type'])

df.head()

,Name of restaurant,Day of week,Arrival time,Departure time,Food wait time,Order time,Time in queue,Size,People infront,Wait time,...,Restaurant type_Call in,Restaurant type_Dine in,Restaurant type_Fast food,Restaurant type_Fifo,Food type_Chicken,Food type_Other,Food type_burger,Food type_main course,Food type_meal,Food type_sandwhich
0,KFC,2,11:21:00,11:59:00,00:16:00,11:43:00,00:22:00,1,18,00:38:00,...,False,False,True,False,True,False,False,False,False,False
1,KFC,1,16:56:00,17:31:00,00:08:00,17:23:00,00:27:00,2,19,00:35:00,...,False,False,True,False,True,False,False,False,False,False
2,KFC,5,18:32:00,19:15:00,00:04:00,19:11:00,00:39:00,1,16,00:43:00,...,False,False,True,False,True,False,False,False,False,False
3,KFC,3,17:13:00,18:01:00,00:21:00,17:40:00,00:27:00,1,25,00:48:00,...,False,False,True,False,True,False,False,False,False,False
4,KFC,1,14:13:00,14:44:00,00:17:00,14:27:00,00:14:00,1,16,00:31:00,...,False,False,True,False,True,False,False,False,False,False

In [6]:
# Convert time data to minutes since midnight
df['Arrival Time (minutes)'] = df['Arrival time'].apply(lambda x: x.hour * 60 + x.minute)
df['Departure Time (minutes)'] = df['Departure time'].apply(lambda x: x.hour * 60 + x.minute)
df['Time Ordered (minutes)'] = df['Order time'].apply(lambda x: x.hour * 60 + x.minute)

df.head()

# Calculate wait times for analysis
df['Queue Time'] = df['Time in queue']  # Time in minutes
df['Food Wait Time'] = df['Food wait time']  # Time in minutes
df['Total Wait Time'] = df['Wait time']  # Total wait time in minutes

# Example: Convert to datetime and extract time
df['Arrival time'] = pd.to_datetime(df['Arrival time'], format='%H:%M:%S').dt.time  # Adjust the format as needed
df['Order time'] = pd.to_datetime(df['Order time'], format='%H:%M:%S').dt.time
df['Departure time'] = pd.to_datetime(df['Departure time'], format='%H:%M:%S').dt.time

# Function to convert time to minutes since midnight
def time_to_minutes(time):
    if pd.notnull(time):
        return time.hour * 60 + time.minute  # Convert time to minutes
    return np.nan  # Handle NaN cases

# Apply the function to convert times to minutes since midnight
df['Arrival Time (minutes)'] = df['Arrival time'].apply(time_to_minutes)
df['Time Ordered (minutes)'] = df['Order time'].apply(time_to_minutes)
df['Departure Time (minutes)'] = df['Departure time'].apply(time_to_minutes)

# Define peak hours (example: lunchtime and dinner time)
peak_hours = [(11 * 60, 14 * 60), (18 * 60, 21 * 60)]  # Peak times in minutes

# Function to check if a given time falls within peak hours
def is_peak(time):
    if not pd.notnull(time):
        return False
    for start, end in peak_hours:
        if start <= time <= end:
            return True
    return False

# Create new feature indicating whether arrival time is during peak hours
df['Is Peak Hour'] = df['Arrival Time (minutes)'].apply(is_peak).astype(int)

# Function to convert datetime.time to minutes since midnight
def time_to_minutes(time):
    if pd.notnull(time):
        return time.hour * 60 + time.minute  # Convert time to minutes
    return np.nan  # Handle NaN cases

# Apply the conversion function to convert times to numerical values
df['Arrival Time (minutes)'] = df['Arrival time'].apply(time_to_minutes)
df['Time Ordered (minutes)'] = df['Order time'].apply(time_to_minutes)
df['Departure Time (minutes)'] = df['Departure time'].apply(time_to_minutes)
df['Queue Time (minutes)'] = df['Queue Time'].apply(time_to_minutes)
df['Food Wait Time (minutes)'] = df['Food Wait Time'].apply(time_to_minutes)
df['Total Wait Time (minutes)'] = df['Total Wait Time'].apply(time_to_minutes)

df.head()

df.to_csv("output.csv", index=False)

df.columns

Index(['Name of restaurant', 'Day of week', 'Arrival time', 'Departure time',
       'Food wait time', 'Order time', 'Time in queue', 'Size',
       'People infront', 'Wait time', 'Popular', 'Location score',
       'Restaurant type_Call in', 'Restaurant type_Dine in',
       'Restaurant type_Fast food', 'Restaurant type_Fifo',
       'Food type_Chicken', 'Food type_Other', 'Food type_burger',
       'Food type_main course', 'Food type_meal', 'Food type_sandwhich',
       'Arrival Time (minutes)', 'Departure Time (minutes)',
       'Time Ordered (minutes)', 'Queue Time', 'Food Wait Time',
       'Total Wait Time', 'Is Peak Hour', 'Queue Time (minutes)',
       'Food Wait Time (minutes)', 'Total Wait Time (minutes)'],
      dtype='object')

In [7]:
df.columns = df.columns.str.strip()
df.columns
df

,Name of restaurant,Day of week,Arrival time,Departure time,Food wait time,Order time,Time in queue,Size,People infront,Wait time,...,Arrival Time (minutes),Departure Time (minutes),Time Ordered (minutes),Queue Time,Food Wait Time,Total Wait Time,Is Peak Hour,Queue Time (minutes),Food Wait Time (minutes),Total Wait Time (minutes)
0,KFC,2,11:21:00,11:59:00,00:16:00,11:43:00,00:22:00,1,18,00:38:00,...,681,719,703,00:22:00,00:16:00,00:38:00,1,22,16,38
1,KFC,1,16:56:00,17:31:00,00:08:00,17:23:00,00:27:00,2,19,00:35:00,...,1016,1051,1043,00:27:00,00:08:00,00:35:00,0,27,8,35
2,KFC,5,18:32:00,19:15:00,00:04:00,19:11:00,00:39:00,1,16,00:43:00,...,1112,1155,1151,00:39:00,00:04:00,00:43:00,1,39,4,43
3,KFC,3,17:13:00,18:01:00,00:21:00,17:40:00,00:27:00,1,25,00:48:00,...,1033,1081,1060,00:27:00,00:21:00,00:48:00,0,27,21,48
4,KFC,1,14:13:00,14:44:00,00:17:00,14:27:00,00:14:00,1,16,00:31:00,...,853,884,867,00:14:00,00:17:00,00:31:00,0,14,17,31
5,KFC,6,19:13:00,20:04:00,00:22:00,19:42:00,00:29:00,1,17,00:51:00,...,1153,1204,1182,00:29:00,00:22:00,00:51:00,1,29,22,51
6,KFC,4,12:23:00,12:47:00,00:16:00,12:31:00,00:08:00,2,9,00:24:00,...,743,767,751,00:08:00,00:16:00,00:24:00,1,8,16,24
7,KFC,1,13:11:00,13:41:00,00:07:00,13:34:00,00:23:00,1,12,00:30:00,...,791,821,814,00:23:00,00:07:00,00:30:00,1,23,7,30
8,KFC,3,13:04:00,13:32:00,00:05:00,13:27:00,00:23:00,1,10,00:28:00,...,784,812,807,00:23:00,00:05:00,00:28:00,1,23,5,28
9,KFC,4,15:14:00,15:45:00,00:21:00,15:24:00,00:10:00,3,17,00:31:00,...,914,945,924,00:10:00,00:21:00,00:31:00,0,10,21,31
10,KFC,1,10:11:00,10:34:00,00:13:00,10:21:00,00:10:00,2,7,00:23:00,...,611,634,621,00:10:00,00:13:00,00:23:00,0,10,13,23
11,KFC,6,02:11:00,02:54:00,00:20:00,02:34:00,00:23:00,4,15,00:43:00,...,131,174,154,00:23:00,00:20:00,00:43:00,0,23,20,43
12,KFC,5,19:01:00,19:55:00,00:23:00,19:32:00,00:31:00,3,17,00:54:00,...,1141,1195,1172,00:31:00,00:23:00,00:54:00,1,31,23,54
13,KFC,2,15:00:00,15:31:00,00:07:00,15:24:00,00:24:00,2,13,00:31:00,...,900,931,924,00:24:00,00:07:00,00:31:00,0,24,7,31
14,KFC,5,14:12:00,14:31:00,00:10:00,14:21:00,00:09:00,2,9,00:19:00,...,852,871,861,00:09:00,00:10:00,00:19:00,0,9,10,19
15,KFC,7,13:12:00,13:29:00,00:09:00,13:20:00,00:08:00,2,7,00:17:00,...,792,809,800,00:08:00,00:09:00,00:17:00,1,8,9,17
16,burger king,2,13:31:00,13:59:00,00:16:00,13:43:00,00:12:00,1,17,00:28:00,...,811,839,823,00:12:00,00:16:00,00:28:00,1,12,16,28
17,burger king,3,10:28:00,10:41:00,00:04:00,10:37:00,00:09:00,2,5,00:13:00,...,628,641,637,00:09:00,00:04:00,00:13:00,0,9,4,13
18,burger king,4,09:12:00,09:20:00,00:05:00,09:15:00,00:03:00,2,3,00:08:00,...,552,560,555,00:03:00,00:05:00,00:08:00,0,3,5,8
19,burger king,5,18:18:00,18:58:00,00:24:00,18:34:00,00:16:00,1,4,00:40:00,...,1098,1138,1114,00:16:00,00:24:00,00:40:00,1,16,24,40
20,burger king,2,13:00:00,13:34:00,00:10:00,13:24:00,00:24:00,4,8,00:34:00,...,780,814,804,00:24:00,00:10:00,00:34:00,1,24,10,34
21,burger king,3,08:15:00,08:22:00,00:04:00,08:18:00,00:03:00,1,5,00:07:00,...,495,502,498,00:03:00,00:04:00,00:07:00,0,3,4,7
22,burger king,4,10:21:00,10:48:00,00:12:00,10:36:00,00:15:00,2,10,00:27:00,...,621,648,636,00:15:00,00:12:00,00:27:00,0,15,12,27
23,burger king,4,15:57:00,16:24:00,00:11:00,16:13:00,00:16:00,2,13,00:27:00,...,957,984,973,00:16:00,00:11:00,00:27:00,0,16,11,27
24,broken plate,7,18:12:00,19:56:00,01:32:00,18:24:00,00:12:00,3,0,01:44:00,...,1092,1196,1104,00:12:00,01:32:00,01:44:00,1,12,92,104
25,chive resturant,6,19:12:00,20:12:00,00:51:00,19:21:00,00:09:00,3,0,01:00:00,...,1152,1212,1161,00:09:00,00:51:00,01:00:00,1,9,51,60
26,dragin court,1,13:12:00,13:18:00,00:03:00,13:15:00,00:03:00,1,2,00:06:00,...,792,798,795,00:03:00,00:03:00,00:06:00,1,3,3,6
27,china garden,2,13:21:00,13:34:00,00:02:00,13:32:00,00:11:00,1,4,00:13:00,...,801,814,812,00:11:00,00:02:00,00:13:00,1,11,2,13
28,tacbar,3,18:01:00,18:31:00,00:08:00,18:23:00,00:22:00,2,7,00:30:00,...,1081,1111,1103,00:22:00,00:08:00,00:30:00,1,22,8,30
29,popeyes,6,11:54:00,12:17:00,00:13:00,12:04:00,00:10:00,1,7,00:23:00,...,714,737,724,00:10:00,00:13:00,00:23:00,1,10,13,23
30,subway,1,12:23:00,12:30:00,00:06:00,12:24:00,00:01:00,1,0,00:07:00,...,743,750,744,00:01:00,00:06:00,00:07:00,1,1,6,7
31,subway,5,17:16:00,17:28:00,00:09:00,17:19:00,00:03:00,1,3,00:12:00,...,1036,1048,1039,00:03:00,00:09:00,00:12:00,0,3,9,12
32,taurus,3,12:11:00,12:34:00,00:23:00,12:11:00,00:00:00,2,0,00:23:00,...,731,754,731,00:00:00,00:23:00,00:23:00,1,0,23,23
33,wendy's,2,10:13:00,10:23:00,00:06:00,10:17:00,00:04:00,1,4,00:10:00,...,613,623,617,00:04:00,00:06:00,00:10:00,0,4,6,10
34,wendy's,7,14:21:00,14:42:00,00:13:00,14:29:00,00:08:00,3,6,00:21:00,...,861,882,869,00:08:00,00:13:00,00:21:00,0,8,13,21
35,wendy's,4,15:12:00,15:12:00,00:09:00,15:21:00,00:09:00,2,5,00:18:00,...,912,912,921,00:09:00,00:09:00,00:18:00,0,9,9,18
36,broken plt,6,18:43:00,19:32:00,00:44:00,18:48:00,00:05:00,3,0,00:49:00,...,1123,1172,1128,00:05:00,00:44:00,00:49:00,1,5,44,49
37,chilitos,5,14:31:00,14:51:00,00:20:00,14:31:00,00:00:00,1,0,00:20:00,...,871,891,871,00:00:00,00:20:00,00:20:00,0,0,20,20
38,dominoes,7,15:23:00,15:51:00,00:28:00,15:23:00,00:00:00,1,0,00:28:00,...,923,951,923,00:00:00,00:28:00,00:28:00,0,0,28,28
39,dragon court,1,16:21:00,16:56:00,00:35:00,16:21:00,00:00:00,3,0,00:35:00,...,981,1016,981,00:00:00,00:35:00,00:35:00,0,0,35,35
40,jolly's resturant,3,14:31:00,14:56:00,00:20:00,14:36:00,00:05:00,2,3,00:25:00,...,871,896,876,00:05:00,00:20:00,00:25:00,0,5,20,25

model 1

In [8]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# Ensure your DataFrame has all the necessary data and transformations

# Features for predicting the number of people in front
features_1 = ['Day of week', 'Arrival Time (minutes)', 'Location score',  'Restaurant type_Call in', 'Restaurant type_Dine in',
       'Restaurant type_Fast food', 'Restaurant type_Fifo']
target_1 = 'People infront'

# Split the data into training and testing sets
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(df[features_1], df[target_1], test_size=0.2, random_state=42)

# Train the regression model
model_1 = LinearRegression()
model_1.fit(X_train_1, y_train_1)

#Create a pickle file of model
with open('model_1.pkl', 'wb') as f:
    pickle.dump(model_1, f)

# Evaluate the model
y_pred_1 = model_1.predict(X_test_1)
mse_1 = mean_squared_error(y_test_1, y_pred_1)
rmse_1 = np.sqrt(mse_1)

print("Model 1 - RMSE:", rmse_1)

Model 1 - RMSE: 3.6089300513759572

In [9]:
print(X_train_1.isna().sum())

Day of week                  0
Arrival Time (minutes)       0
Location score               0
Restaurant type_Call in      0
Restaurant type_Dine in      0
Restaurant type_Fast food    0
Restaurant type_Fifo         0
dtype: int64

In [10]:
df.columns

Index(['Name of restaurant', 'Day of week', 'Arrival time', 'Departure time',
       'Food wait time', 'Order time', 'Time in queue', 'Size',
       'People infront', 'Wait time', 'Popular', 'Location score',
       'Restaurant type_Call in', 'Restaurant type_Dine in',
       'Restaurant type_Fast food', 'Restaurant type_Fifo',
       'Food type_Chicken', 'Food type_Other', 'Food type_burger',
       'Food type_main course', 'Food type_meal', 'Food type_sandwhich',
       'Arrival Time (minutes)', 'Departure Time (minutes)',
       'Time Ordered (minutes)', 'Queue Time', 'Food Wait Time',
       'Total Wait Time', 'Is Peak Hour', 'Queue Time (minutes)',
       'Food Wait Time (minutes)', 'Total Wait Time (minutes)'],
      dtype='object')

model 2

In [11]:
# Features for predicting average time in queue
features_2 = ['Restaurant type_Fast food' , 'Food type_Chicken', 'Food type_Other', 'Food type_burger',
       'Food type_main course', 'Food type_meal', 'Food type_sandwhich',]
target_2 = 'Queue Time (minutes)'

# Split the data into training and testing sets
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(df[features_2], df[target_2], test_size=0.2, random_state=42)

# Train the regression model
model_2 = LinearRegression()
model_2.fit(X_train_2, y_train_2)

pickle.dump(model_2,open("model_2.pkl","wb"))
# Evaluate the model
y_pred_2 = model_2.predict(X_test_2)
mse_2 = mean_squared_error(y_test_2, y_pred_2)
rmse_2 = np.sqrt(mse_2)

print("Model 2 - RMSE:", rmse_2)

Model 2 - RMSE: 5.263064719792265

In [12]:
df.columns

Index(['Name of restaurant', 'Day of week', 'Arrival time', 'Departure time',
       'Food wait time', 'Order time', 'Time in queue', 'Size',
       'People infront', 'Wait time', 'Popular', 'Location score',
       'Restaurant type_Call in', 'Restaurant type_Dine in',
       'Restaurant type_Fast food', 'Restaurant type_Fifo',
       'Food type_Chicken', 'Food type_Other', 'Food type_burger',
       'Food type_main course', 'Food type_meal', 'Food type_sandwhich',
       'Arrival Time (minutes)', 'Departure Time (minutes)',
       'Time Ordered (minutes)', 'Queue Time', 'Food Wait Time',
       'Total Wait Time', 'Is Peak Hour', 'Queue Time (minutes)',
       'Food Wait Time (minutes)', 'Total Wait Time (minutes)'],
      dtype='object')

MODEL 3

In [19]:
# df_new = df.copy()

# Add the predicted values from Model 1 and Model 2
df['Predicted No. of people in front'] = model_1.predict(df[features_1])
df['Predicted Queue Time (minutes)'] = model_2.predict(df[features_2])



# Features for predicting total wait time
features_3 = ['Predicted No. of people in front', 'Predicted Queue Time (minutes)']
target_3 = 'Total Wait Time (minutes)'

# Split the data into training and testing sets
X_train_3, X_test_3, y_train_3, y_test_3 = train_test_split(df[features_3], df[target_3], test_size=0.2, random_state=42)

# Train the regression model
model_3 = LinearRegression()
model_3.fit(X_train_3, y_train_3)

pickle.dump(model_2,open("wtmod.pkl","wb"))

# Evaluate the model
y_pred_3 = model_3.predict(X_test_3)
mse_3 = mean_squared_error(y_test_3, y_pred_3)
rmse_3 = np.sqrt(mse_3)

print("Model 3 - RMSE:", rmse_3)

Model 3 - RMSE: 31.63435985068814

In [14]:
df.columns
df.head()

,Name of restaurant,Day of week,Arrival time,Departure time,Food wait time,Order time,Time in queue,Size,People infront,Wait time,...,Time Ordered (minutes),Queue Time,Food Wait Time,Total Wait Time,Is Peak Hour,Queue Time (minutes),Food Wait Time (minutes),Total Wait Time (minutes),Predicted No. of people in front,Predicted Queue Time (minutes)
0,KFC,2,11:21:00,11:59:00,00:16:00,11:43:00,00:22:00,1,18,00:38:00,...,703,00:22:00,00:16:00,00:38:00,1,22,16,38,12.078838,20.461538
1,KFC,1,16:56:00,17:31:00,00:08:00,17:23:00,00:27:00,2,19,00:35:00,...,1043,00:27:00,00:08:00,00:35:00,0,27,8,35,16.018346,20.461538
2,KFC,5,18:32:00,19:15:00,00:04:00,19:11:00,00:39:00,1,16,00:43:00,...,1151,00:39:00,00:04:00,00:43:00,1,39,4,43,15.424102,20.461538
3,KFC,3,17:13:00,18:01:00,00:21:00,17:40:00,00:27:00,1,25,00:48:00,...,1060,00:27:00,00:21:00,00:48:00,0,27,21,48,15.393872,20.461538
4,KFC,1,14:13:00,14:44:00,00:17:00,14:27:00,00:14:00,1,16,00:31:00,...,867,00:14:00,00:17:00,00:31:00,0,14,17,31,14.297108,20.461538

testing

In [18]:
features_1 = ['Day of week', 'Arrival Time (minutes)', 'Location score',  'Restaurant type_Call in', 'Restaurant type_Dine in',
       'Restaurant type_Fast food', 'Restaurant type_Fifo']
features_2 = ['Restaurant type_Fast food' , 'Food type_Chicken', 'Food type_Other', 'Food type_burger',
       'Food type_main course', 'Food type_meal', 'Food type_sandwhich']

# Given input data
input_data = {
    'Name of restaurant': 'KFC',
    'Day of week': 'Sunday',
    'Arrival time': '16:00:00',  # Time in 'HH:MM:SS'
    'Food type': 'sandwhich',  # Categorical
    'Restaurant type': 'Fast food',  # Categorical
    'Size': 1,  # Integer
    'popular': True,  # Boolean
    'Location score': 'lightly populated'  # Categorical
}

# Convert to DataFrame
input_df = pd.DataFrame([input_data])

# Convert categorical data to numerical data
day_of_week_mapping = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
location_score_mapping = {'lightly populated': 1, 'populated': 2, 'heavily populated': 3}

input_df['Day of week'] = input_df['Day of week'].map(day_of_week_mapping)
input_df['Location score'] = input_df['Location score'].map(location_score_mapping)

# Convert time to minutes since midnight
def time_to_minutes(time_str):
    if pd.isna(time_str) or time_str.strip() == "":
        return np.nan  # Handle invalid or empty data
    hours, minutes, _ = map(int, time_str.strip().split(':'))
    return hours * 60 + minutes

input_df['Arrival Time (minutes)'] = input_df['Arrival time'].apply(time_to_minutes)

# One-hot encode categorical data if needed
input_df = pd.get_dummies(input_df, columns=['Food type', 'Restaurant type'])

# Ensure correct features are present
for feature in features_1 + features_2:
    if feature not in input_df.columns:
        input_df[feature] = 0  # Default value for missing features

# Predict "Number of people in front" using Model 1
number_of_people_in_front = model_1.predict(input_df[features_1])
input_df['Predicted No. of people in front'] = number_of_people_in_front

print(number_of_people_in_front)

# Predict "Average time in queue" using Model 2
average_time_in_queue = model_2.predict(input_df[features_2])
input_df['Predicted Queue Time (minutes)'] = average_time_in_queue

print(average_time_in_queue)

# Define the features for Model 3
features_3 = ['Predicted No. of people in front', 'Predicted Queue Time (minutes)']

# Predict the final wait time using Model 3
predicted_wait_times = model_3.predict(input_df[features_3])

print("Predicted wait times (in minutes):", predicted_wait_times)

[9.18033367]
[8.5]
Predicted wait times (in minutes): [24.23769953]